body {
    overflow: hidden;
}

.rows {
    background: #b2bec3; 
    position: relative;
    margin-bottom: 75px;
}

.add-column {
    position: absolute;
    top: -30px;
}

#canvas {
    margin-top: 30px;
}
.column {
    background: #fafafa; 
    height: 100%; 
    position: absolute; 
    border: 1px dashed gray;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

body {
    background: #e4e5e7;
}