body {
    overflow: hidden;
}

.rows {
    position: relative;
    margin-bottom: 75px;
}

.add-column {
    position: absolute;
    top: -30px;
}

#canvas {
    margin-top: 30px;
}
.column {
    background: #fafafa; 
    height: 100%; 
    position: absolute; 
    border: 1px solid #c8ced3;
    border-radius: 0.25rem;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.column-select{
    border-color: #80bdff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(128, 189, 255, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(128, 189, 255, 0.5);
}

body {
    background: #e4e5e7;
}

.widget-table{
    table-layout: fixed;
    width: 100%;
    margin-bottom: 1rem;
    background-color: white;
    font-size: 75%;
}

.widget-table tfoot, .widget-table thead{
    background-color: #afeaff;
}

.widget-table thead, .widget-table tbody, .widget-table tfoot {
    color: rgb(83, 83, 83);
    text-align: left;
    margin-left: 10px !important;
}


.widget-table tbody tr td, .widget-table tfoot tr td{
    border-bottom: 0.5px solid #c8ced3;
}

.widget-table tfoot tr td{
    font-weight: 600;
}

.btn-group-widget-table{
    float: left;
}

.dropdown-item.active, .dropdown-item:active, dropdown-item.focus, .dropdown-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: #20a8d8 !important;
}

.dropdown-item{
    font-size: 70%;
    color: #495057 !important;
}

.btn-white{
    background-color: whitesmoke !important;
    color: #495057 !important;
    font-size: 85% !important;
    margin: 3px 1% !important;
    height: 100% !important;
    width: 100% !important;
}

.btn-transparent{
    background-color: white;
}

#widget-card .card .card-body h4, #widget-card .card .card-body p, #widget-card .card .card-body span{
    text-align: left;
}

#widget-card .card .card-body p{
    margin-bottom: 0px;
}

.span-widget{
    margin-bottom: 20px !important;
    color: rgb(0, 140, 255);
    font-size: 85%;
    text-align: left !important;
}

#loading-page {
    z-index: 9999;
}

.filter-date{
    font-size: 90%;
}

.filterdate-area{
    margin: 5px;
    border: 1px solid #c8ced3;
    border-radius: 0.25rem;
}

#widget-table{
    margin-top: -30px;
}

#widget-table .btn-group .btn-secondary{
    height: 31px;
    padding: 4px 8px;
    font-size: 85%;
}


#widget-table input{
    margin-left: 5px;
    margin-bottom: 15px;
    float: right;
    width: 100px;
    border: 1px solid #c8ced3;
    border-radius: 0.25rem;
}
#widget-table label{
    margin-top: 3px;
    float: right;
}

.btn-widiget-table{
    height: 25px !important;
    font-size: 80% !important;
}

.col-right{
    text-align: right !important;
    padding-right: 15px;
}