body {
    overflow: hidden;
}

.rows {
    position: relative;
    margin-bottom: 75px;
}

.add-column {
    position: absolute;
    top: -30px;
}

#canvas {
    margin-top: 30px;
}
.column {
    background: #fafafa; 
    height: 100%; 
    position: absolute; 
    border: 1px solid #c8ced3;
    border-radius: 0.25rem;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.column-select{
    border-color: #80bdff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(128, 189, 255, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(128, 189, 255, 0.5);
}

body {
    background: #e4e5e7;
}