-#navbar {
    background: white;
    width: 100%;
    position: fixed;
    top: 0;
    height: 50px;
    display: flex;
    justify-items: center;
    flex-flow: column;
    padding: 10px;
    box-sizing: border-box;
    z-index: 9999;
    border-bottom: 1px solid #c8ced3;
}

.container-2 {
    width: 100%;
    margin: 0 auto;
}

.logo-nav {
    width: 20px;
    height: 30px;
    display: inline-block;
    margin-right: 30px;
}

.logo-nav img {
    width: 100%;
    height: 100%;
}

.logo-left, .content {
    display: inline-block;
}

.content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    top: -10px;
    float: right;
}

.content * {
    margin-left: 20px;
    font-size: 0.86rem;
    color: #73818f;
}

.badge-navbar {
    margin-left: -7px;
    margin-bottom: 20px;
    font-size: 5pt !important;
    color: #007bff !important;
    background-color: #007bff !important;
}

/* .icon-badge-navbar{
    margin-bottom: -12px !important;
} */

.content a {
    margin-left: 0px;
    margin-right: 0px;
}